<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>ラナクロへのデザイナー登録が完了しました</h1>
    <p>
      <%= @username %>さん、今すぐあなたの作品をふさわしい相手に届けましょう！<br />
    </p>
  </body>
</html>
