<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1><%= @itemname %>が出品されました</h1>
    <p>
      <%= @username %>さん、あなたの作品は無事に出品されました！<br />
    </p>
  </body>
</html>
