<div class="main users-index">
  <div class="container">
    <h3><%= label :user, :followings %></h3>
    <% @user.followings.each do |user| %>
      <div class="users-index-item">
        <div class="user-left">
          <% if @user.avatar %>
        　　  <%= image_tag @user.avatar.thumb.url %>
        　<% else %>
        　　<%= image_tag("/user_images/default_icon.png") %>
        　<% end %>
        </div>
        <div class="user-right">
          <%= link_to(user.username, "/users/#{user.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>
