<div class="main about-main">
  <div class="about-message">
    <h2>あなたのつくった服が、</h2>
    <h2>誰かの理想の1着になる。</h2>
    <br>
    <p>ラナクロは、ファッションギークが<br>
    集まるコミュニティ。<br>
    みんながつくったアイテムを<br>
    自由に投稿できます。<br>
    一生ものの出会いを見つけましょう。</p>
  <br>
  </div>
</div>
