<div class="main about-main">
  <div class="about-message">
    <h2>あなたのつくった服が、</h2>
    <h2>誰かの理想の1着になる。</h2>
    <br>
    <p>ラナクロはファッションギークが集う場所。</p>
    <p>みんながつくった服を自由に投稿できます。<br>
    さあ、新しい服に出会いましょう。</p>
  <br>
  </div>
</div>
