<div class="about-main">
    <h2>あなたのつくった服が、誰かの理想の1着になる。</h2>
    <p>ラナクロ（run-a-clothes）では、個人がつくった服を自由に売買できます。</p>
    <br>
    <p>まだどこにもないユニークなアイテムを、手に入れましょう。<br>
    それはもしかしたら、未来のトップデザイナーがつくったものかもしれません。</p>

  <br>
  <!-- <div class="about-summary">
    デザイナーとして：<br>
    あなたのつくった服を、自由に投稿し、販売することができます。<br>
    <img class="about-img" src="/about_img.jpg">
    バイヤーとして：<br>
    誰かがつくったユニークなアイテムを、手に入れることができます。<br>
    その「誰か」はもしかしたら、未来のトップデザイナーかもしれません。
  </div> -->
</div>
