<div class="main about-main">
  <div class="about-message">
    <h2>あなたのつくった服が、</h2>
    <h2>誰かの理想の1着になる。</h2>
    <br>
    <p>ラナクロはファッションギークが集う場所。<br>
    みんながつくった服や小物を自由に投稿できます。<br>
    さあ、新たな一品に出会いましょう。</p>
  <br>
  </div>
</div>
