  <div class="container">
    <% @posts.each do |post| %>
          <%= link_to("/posts/#{post.id}") do %>
             <%= image_tag post.image_name[0].thumb.url %>
          <% end %>
        <% end %>
  </div>
