  <div class="container">
    <% @posts.each do |post| %>
          <%= link_to("/items/#{post.id}") do %>
             <%= image_tag (post.image_name), class:"thumbnail" %>
          <% end %>
        <% end %>
        <div class="clear_float" style="margin-bottom: 45px"/>
  </div>
