<div class="container">
  <div class="search-word">
    #<%= @tag.name %>
    <p class="num-of-hits"><%= @num %> posts</p>
  </div>
  <% @posts.each do |post| %>
        <%= link_to("/items/#{post.id}") do %>
        <%= image_tag (post.image_name), class:"thumbnail" %>
        <% end %>
      <% end %>
</div>
<div class="clear_float" style="margin-bottom: 30px"/>
