<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-left">
         <%= image_tag post.user.icon_image_name.thumb.url %>
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(post.user.name, "/users/#{post.user.id}") %>
          </div>
          <%= link_to("/posts/#{post.id}") do %>
             <%= image_tag post.image_name.standard.url %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
