<p>Hello <%= @resource.email %>!</p>

<p>こんにちは、ラナクロ運営チームです。</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>
<p>パスワードのリセットが申請されました。下記のリンクから行ってください。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<p>もし申請した覚えがない場合、このメールを無視してください。</p>
<p>あなたのパスワードは、上記のリンクにアクセスしない限り、変更されることはありません。/p>
